footer{
    background-color: #6f2232;
    margin-top: 9rem;
    margin-bottom: 0;
}
.cont{
    border: 40px solid #6f2232;
    border-radius: 10px;
    vertical-align: middle;
    
}

.icons{
    height: 50px;
    width: 70px;
}
p{
    display: block;
    font-weight: bold;
}
.password{
    color: black;
    font-weight: bold;
}
